.yup{
	color: yellow;
}
.jombotron{
	background-image: url(ola.png);
	height: 450px;
}

.img{
	width: 350px;
}

.footer{
	background-color: #111;
	color: white;

}


.footer2{
	background-color: #111;
	color: white;
}



.h2{
	margin-left: 100px;
}

.img2{
	height: 550px;
	margin-left: 150px;
	margin-right: 100px;
	
}

.fbk{
	width: 45px;
	 
}

.insta{
	width: 45px;

}

.email{
	width: 45px;
}

.call{

	width: 45px;
}

.orderimages{
	width: 450px;
}

.covid19{

	color: yellow;

}








