.yup{
	color: yellow;
}
.jombotron{
	background-image: url(ola.png);
	height: 450px;
	/* s */
}

.img{
	width: 350px;
}

.footer{
	background-color: #111;
	color: white;

}


.footer2{
	background-color: #111;
	color: white;
}



.h2{
	margin-left: 100px;
}

/* .img2{ */
	/* height: 550px;
	margin-left: 150px;
	margin-right: 100px;
	 */
/* } */





/* .orderimages{
	width: 450px;
} */

.covid19{

	color: yellow;

}

.my-button{
	position: fixed;
	background-color: rebeccapurple;
}







